* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow: y-scroll;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #202020;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100vh;
    background-color: #141414;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #45a049;
}
.conversation_history{
    margin-top: 20px;
}

/*other styles*/
/*Container for buttones on left-side*/
.menu_container {
    position: fixed;
    top: 20px;
}

h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.user-message, .loading-message, .error-message, .bot-message {
    text-align: left;
    font-size: 20px;
}

.searchbar_container{
    position: fixed; /* or absolute */
    width: 40%; /* total page width */
    height: 90px;
    /* padding, https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center */
    bottom: 5%;
    left: 60%;
    display: flex;
    justify-content: center;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    box-shadow: 0 4px 15px rgba(0,0,0, 0.3);
    align-items: center;
    padding: 0 10px;
    border: 1px solid #4a4a4a;
}

.searchbar_container input[type = "text"]{
    flex: 1;
    padding: 14px 20px;
    margin-right: 15px;
    border-radius:35px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    outline: none;
}

.searchbar_container button{
    height: 55px;
    width: 55px;
    min-width: 55px;
    border: none;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

}






