<!DOCTYPE html>
<!-- Defines that the document is an HTML5 doc -->


<!-- Start of html doc. lang="en" not needed, but assists browsers -->
<html lang="en">
	<!-- Meta Information -->
	<head>
		<title>STOCK AI</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
	</head>

	<!-- Container for the webpage's contents -->
	<body style = "background-color: #2c2c2c">
        <div class = "sidenav sidenav-left">
			<p>this is placeholder text that will fill up the box</p>
        </div>

        <div class = "sidenav sidenav-right">
			<h4>side nav placeholder</h4>
        </div>

        <div class = "main">
            <h1>Welcome User!</h1>
        </div>

        <div class = "center_content">
            <p>DOW +1.0</p>
        </div>

        <div class = "searchbar">
            <input type="text" placeholder="Search..">
        </div>
        
	</body>
</html>