<!DOCTYPE html>
<!-- Defines that the document is an HTML5 doc -->


<!-- Start of html doc. lang="en" not needed, but assists browsers -->
<html lang="en">
	<!-- Meta Information -->
	<head>
		<title>STOCK AI</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
	</head>

	<!-- Container for the webpage's contents -->
	<body>
        <div class="main-container">
        <main>
           
            <!-- Fades in Logo-->
            <div class = "fade-in">
            <h1 id = "mainHeader">$tonk AI</h1>
                <!-- This is where JavaScript generated elements go-->
                <!-- There are going to be "div" that have various classes-->
            </div>     
        </main> <!-- End main -->
    
        <aside>
            <!-- Defines sidebar menu -->
            <div id = 'menu_container'>
                <!-- Menu buttons -->
                <button id="theme">☀️</button>
                <button id="settings">⚙️</button>
                <button id="about", onClick="openPop()">⁉️</button>
                
                <!-- About Us popup box -->
                <div id="popupDialog">
                    <p> We have created a stock-buy,hold, and sell, AI-powered advisor that returns 
                        data-powered recommendations based on stocks to hold and can create indexes 
                        using that information
                    </p>
                    <button onclick="openPop()">
                        Close
                    </button>
                </div> <!-- End popupDialog -->
                <!-- Scripting for popup -->
                    <script>
                        function openPop() {
                            // variable named popDialog that gets popup element
                            const popDialog =
                                document.getElementById(
                                    "popupDialog"
                                );
                            // ternary if-else to change visibility
                            popDialog.style.visibility =
                                popDialog.style.visibility ===
                                    "visible"
                                    ? "hidden"
                                    : "visible";
                        }
                    </script>
            </div> <!-- End menu container -->

            <!-- History header in sidebar -->
            <h2><p id = "history", class = "history">History</p></h2>
            <div id = "conversation_history", style = "position: fixed; top: 30%"></div>

        </aside>
        </div> <!-- End main container -->
  
    <!-- Search Bar, includes NEW TOPIC, SEARCH BAR, SEARCH BUTTON -->
        <div class = "searchbar_container">
            <!-- Reloads webpage to clear content -->
            <button id="NewTopicButton", onclick="window.location.reload()">💡</button>
            <!-- Searchbar -->
            <input id="searchbar" type="text" placeholder="Search..">
            <button id="searchbutton">$$$</button>
        </div>
        <script src="../static/script.js"></script>
	</body>
</html>