<!DOCTYPE html>
<!-- Defines that the document is an HTML5 doc -->


<!-- Start of html doc. lang="en" not needed, but assists browsers -->
<html lang="en">
	<!-- Meta Information -->
	<head>
		<title>STOCK AI</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<!-- Container for the webpage's contents -->
	<body>
        <main>
            <h1 id = "mainHeader">Hello User!</h1>
                <!-- This is where JavaScript generated elements go-->
                <!-- There are going to be "div" that have various classes-->
        </main>

        <aside>
            <div id = 'menu_container'>
                <button id="menu">Theme</button>
                <br>
                <button id="menu">Settings</button>
                <br>
                <button id="menu">About</button>
                <br>
                <p id = "conversation_history">History</p>
            </div>
            <!-- <div id = "conversation_history">
                <p>History</p>
                <!-- This is where JavaScript generated elements go-->
                <!-- There are going to be "div" that have divs of one class-->

            </div>
        </aside>
  
        <div class = "searchbar_container">
            <input id="searchbar" type="text" placeholder="Search..">
            <button id="searchbutton">Search</button>
        </div>
	</body>
</html>