<!DOCTYPE html>
<html>
    <head>
        <title>Loading Elements</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <meta name="viewport">

        <style>
        
            .output_format {
                border: 5px solid blue;
                border-radius: 5px;
            }
            
        </style>
    </head>
    <body>
        <div class = "output_box output_format">
            <p>Output should go here</p>
        </div>
    </body>
</html>