<!DOCTYPE html>
<html>
    <head>
        <title>Loading Elements</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <meta name="viewport">
        <style>
            #output_box {
                position: absolute;
                right: -100px; /* SET THE SLIDER TO BE OFFSCREEN INITIALLY */
                width: 400px;
                height: 100px;
                background: blue;
                transition: 1s;
            }
            .wrapper #output_box {
                transition: 1s;
                right: 0;
            }

        </style>
    </head>
    <body>
        <div class = "wrapper"></div>
            <div id = "output_box">
                id="output_box">Results here
            </div>
        </div>

    </body>
</html>